
page {
    position: fixed;
}

.all-categorey-page {
    width: 100%;
    view {
        box-sizing: border-box;
    }
    background: #fff;
    .input-wrap {
        margin-bottom: 24rpx;
    }
    .body-wrap {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 139rpx);
        .at-tabs__header {
            width: 200px;
            height: 88vh;
            background: #f5f7f9;
            border-radius: 0 10px 0 0 !important;
            overflow: hidden;
            &::-webkit-scrollbar {
                display:none;
                width: 0px;
                height: 0px;
                color: transparent;
            }
        }
        .at-tabs__item {
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #6A6A70;
            border-radius: -10rpx;
            height: 106px;
            width: 200px;
            padding: 31px 34px 33px 41px;
            line-height: 106px;
            background: #f5f7f9;
            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                color: transparent;
            }
        }
        .at-tabs__item--active {
            color: #222222;
            background: #FFFFFF;
            font-size: 30px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #222222;
            line-height: 106px;
            .at-tabs__item-underline {
                display: block;
                top: 50%;
                right: initial !important;
                left: 1px;
                width: 8px;
                height: 42px;
                transform: translate(0, -50%);
                border-radius: 4px;
                background: #E80017;
            }
        }
    }
}

.at-tabs__radius_border_right_top {
    position: relative;
    &::before {
        display: block;
        content: '';
        height: 40px;
        width: 40px;
        background-color: #fff;
        position: absolute;
        right: 0;
        bottom: -0;
    }
    &::after {
        display: block;
        content: '';
        height: 40px;
        width: 40px;
        background: #f5f7f9;
        border-radius: 0 0 18px 0;
        position: absolute;
        right: 0;
        bottom: -0;
    }
}

.at-tabs__radius_border_right_bootom {
    position: relative;
    &::before {
        display: block;
        content: '';
        height: 40px;
        width: 40px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0px;
    }
    &::after {
        display: block;
        content: '';
        height: 40px;
        width: 40px;
        background: #f5f7f9;
        border-radius: 0 18px 0 0;
        position: absolute;
        right: 0;
        top: 0px;
    }
}
.at-tabs__item-underline{
    width: 8px;
    height: 42px;
    left: 2px !important;
    background-color: #E80017;
    border-radius: 4px;
}