/* navigationBar.wxss */
.navigation-container {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.navigation-bar {
    position: relative;
    display: flex;
}

.navigation-buttons {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 15px;
    background-color: transparent;
    margin-left: 25px;
}

.nav-img {
    height: 48px;
    width: 48px;
}

.navigation-title {
    position: absolute;
    left: 104px;
    right: 104px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 50px;
}